body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 15vh;
}

.character-card {
    background-color: #1e293b;
    padding: 1px 30px 20px 30px;
    margin: 20px auto;
    border-radius: 12px;
    text-align: left;
    max-width: 750px;
}

.character-card .buttons {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    gap: 10px;
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #6366f1;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4f46e5;
}